<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">To mainpage</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>Date</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto at consequatur delectus dolor earum, eligendi esse eveniet ex facilis fuga fugit id illo ipsa iste itaque iure laboriosam laborum nam neque nobis officiis possimus quibusdam reiciendis reprehenderit repudiandae rerum sapiente sint tempore veritatis! Commodi maxime provident quisquam repellendus totam.0
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et magnam officiis quaerat quo soluta. Vero.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam at distinctio eius, error incidunt iusto laborum magnam, minus nam, obcaecati provident quae quia saepe sequi soluta vel voluptates? Eaque exercitationem fugit molestiae necessitatibus.
    </p>
  </div>
</div>
